.commentBox {
  border: 1px solid blue;
  padding:4px;
}

.commentList {
  border: 1px solid green;
  padding:4px;
}

.comment {
  border: 1px solid orange;
  padding: 4px;
}

.commentForm {
  border: 1px solid yellow;
}